body{
    background-color: #f2f2f2;
    color: #444;
    margin: 0;
    font-family: sans-serif;
}
header{
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width:60px;
    transform: rotate(-10deg);
}
header h1{
  font-size: 40px;
  font-weight: 500;
  margin-left: 30px;
  transform: rotate(2deg);
  color: #777;
}
.filter{
    margin:  0 auto;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
.filter button {
    padding: 15px 25px;
    background-color: blue;
    color: #f2f2f2;
    border-radius: 5px;
    margin: 3px;
    border: 0;
}
.task-list{
    width: 60%;
    margin: 0 auto;
   padding-top: 20px;
}
.list-group-item{
    padding: 20px;
    border-bottom: 1px solid black;
    border-radius: 5px;
    
}
.list-group-item:last-child{
  border-bottom: none;
}
.list-group-item span {
    line-height: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}
.list-group-item button{
    height: 35px;
    width: 35px;
    border-radius: 1px;
    background-color: #f2f2f2;
    color: red;
    align-items: center;
}
.fa-star{
    margin-left: 10px;
    font-size: 23px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    color: rgb(240, 57, 11);
    align-items: center;
    opacity: 0;
    transform: rotateY(30deg);
    transition:  all 0.3s ease;
}
.active{
    color: rgb(238, 186, 29);
   
    opacity: 1;
}
.add-form{
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}